*
{
margin: 0;
padding: 0;
box-sizing: border-box;

}
body{ 
  background-color:#ffffff;
  color: black;
  border: 0;
  padding-inline-start: 0;
  font-size: 50%;
}
header{
  color: palevioletred;
  font-family: cursive;
  font-size: x-large;
  width: 100%;

}

h1
{
  color: blueviolet;
  font-family: fantasy;
  font-size: 5rem;
  padding-bottom: 1rem;
  text-align: center;
  padding: 3rem;

}
h2{
  color: blue;
  font-family: monospace;
}


h3{
  color: forestgreen;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
  color: black;
  font-family: cursive;
  font-size: x-large;
}
a{
  color: red;
  font-size: 20px;
}
.cajaContenedor
{
width: 100%;
padding: 1rem;
height: auto;
margin: 0 auto;
display: grid;
gap: 15px;
grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.contenedor{
    font-size: 18px; 
    font-weight: 200;  
    padding: 1.3rem;
   
}
.contenedor img{
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
  
}
    .contenedor p{
      text-align: center;
      padding: 10px;
    }
  .Poema1
  {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .Poema1 p
  {
    text-align: center;

  }


.poema2
{

  display: flex;
  flex-direction: column;
  gap: 1rem;


}
.poema2 
{
  text-align: center;

}
 

.caja3Item1
{
  font-family: cursive;
  color: #ffffff; 
  font-size: 18px; 
  font-weight: 400; 
  background: #9099b3; 
  overflow: hidden; 
  border-radius: 20px; 
  border: 2px solid #161618;
  width: 100%;
  padding: 1.3rem;
 
}
.cajaItem2
{
  width: 100%;
  text-align: center;
  border-radius: 20%;
}
.caja5
{
  font-family: cursive;
  color: #ffffff; 
  font-size: 18px; 
  font-weight: 400; 
  background: #9099b3; 
  overflow: hidden; 
  border-radius: 20px; 
  border: 2px solid #161618;
  width: 100%;
  padding: 1.3rem;
 
}
.imagencaja5
{
  width: 100%;
  text-align: center;
  border-radius: 20%;
}

